button {
    background-color: lightgray;
    color: rgb(67, 67, 67);
    padding: 12px 20px;
    border-radius: 20px;
    border: solid 4px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 24px;
    margin: 12px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#container {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 650px;
    height: 650px;
    align-items: stretch;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: stretch;
}

.cell {
    background-color: lightgray;
    flex: 1;
}

.cell-hover {
    background-color: rgb(67, 67, 67);

}